<header class="d-flex justify-content-center align-items-center pt-3 bg-light border-bottom">
  <h1>Simplicity</h1>
</header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list class="d-flex flex-column gap-1 mb-3">
      
        <a mat-list-item 
          routerLink="/product-registration"
          matTooltip="Formulario para el registro de productos" 
          matTooltipPosition="right"
          >Product registration</a>
        
        <a mat-list-item 
          routerLink="/stock-control"
          matTooltip="Tabla que muestra el stock de los productos" 
          matTooltipPosition="right"
          >Stock control</a>

        <a mat-list-item 
          routerLink="/restock-alerts"
          matTooltip="Alertas de reabastecimiento" 
          matTooltipPosition="right"
          >Restock alerts</a>
      
    </mat-nav-list>
  </mat-sidenav>

<!--  Start Content -->
  <mat-sidenav-content class="p-2">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
  <!-- End Content -->
